@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 *,

 *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
 }

 .mainform{
    height: 100vh;
    background:  #8493a5;
 }

 .container{
    background-color: white;
    width: 50%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50% , -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
 }

 h1{
    font-size: 30px;
    text-align: center;
 }

 p .form{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
 }

 form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
 }

 .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:20px 30px;
    margin-bottom: 20px;
 }

 label{
    color: black;
    font-size: 14px;
    font-weight: 500;
 }

 input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
 }

 input:focus{
    outline: none;
    border-color: #6f6df4;
 }

.form button,.loginbutton{
    border: none;
    padding: 10px 20px;
    background: #6f6df4;
    color: white;
    border-radius: 3px;
}